{%extends "layout.html"%}

{%block titulo%}
    WikiApp
{%endblock%}

{%block contenido%}
<h1 style="margin-left: 20px">Create a new theme </h1>
<form class="container mt-4" method="POST" action="{%url 'wikiPy:newTheme'%}">
    {% csrf_token %}
    <div class="row justify-content-start" >
        <div class="col-md-6"> <!-- Controla el ancho de los elementos -->
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="nameTheme">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" name="descriptionTheme" rows="2"></textarea>
            </div>
            <br>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="submit">Create Theme</button>
                <button class="btn btn-secondary" type="button">Cancel</button>
              </div>
        </div>
    </div>
</form>
    
{%endblock%}   